# Virtual environment folder
venv/

# Compiled Python files
__pycache__/
*.pyc
*.pyo

# Editor-specific settings
.vscode/

# Environment configuration files
.env
.flaskenv

# Log files
*.log

# Data directory for any project-specific data
data/
